/* ===============
	BLOCKQUOTE
=============== */

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 3px solid $border-day;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 18px;
  background-color: darken($background-day, 5%);
  p {
    padding: 10px;
  }
}
