/* ===============
	PAGE
=============== */

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-day;
  background-color: $background-day;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
