/* ===============
	COLORS
=============== */

$primary-color: #33aaff;
$secondary-color: #cfcfdd;
$red-color: #ee6c6c;
$green-color: #55bf55;
$white-color: #ffffff;


$dark: #222222;
$dark-gray: #333333;
$darkest: #444444;

$gray: #a0a0a0;
$gray-dark: #757575;
$gray-light: #dddddd;
$gray-lighten: #edeeee;
$gray-lighter: #cccccc;

$blue: #33aaff;
$blue-light: #cfcfdd;
$blue-lighter: #dce4ea;
$blue-dark: #263959;

// Day Color
$background-day: #f0f0f0;
$border-day: #0f0f0f;
$text-day: #0f0f0f;
$selected-day: #0f0f0f;
$buttons-day: #0f0f0f;

// Night Color
$background-night: invert($background-day, 100%);
$border-night:	invert($border-day, 100%);
$text-night: invert($text-day, 100%);
$selected-night:  invert($selected-day, 100%);
$buttons-night:  invert($buttons-day, 100%);



// Headings
$heading-font-color: #404040;


// Links
$link-color: $primary-color;
$link-color-hover: darken($link-color, 15%);


// Border
$border-color: #f0f0f0;
