/* ===============
	ARTICLE PAGE
=============== */

.c-article {
  width: 100%;
  margin: 20px 0;
}

.c-wrap-content {
  padding: 20px;
  background-color: darken($background-day, 1%);
}

.c-article__image {
  position: relative;
  background-color: rgba(220,235,245,0.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &:after {
    content: "";
    display: block;
    padding-top: 56%;
  }
}

.c-article__header {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  .c-article__title {
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.c-article__date {
  span {
    font-size: 13px;
    text-transform: uppercase;
    color: $text-day;
  }
}

.c-article__footer {
  margin: 30px 0 0;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid $border-color;
  .c-article__share {
    a {
      .icon {
        vertical-align: middle;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
  .c-article__tag {
    margin-bottom: 5px;
    a {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 10px;
      font-family: Roboto;
      font-weight: 700;
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase;
      background-color: $background-day;
      box-shadow:0px 0px 0px 1px $border-day;
      color: $text-day;
      &:hover {
        background-color: $background-night;
        color: $text-night;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.c-recent-post {
  padding: 30px 0;
  .c-recent__title {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .c-recent__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .c-recent__item {
    max-width: 23%;
    flex-basis: 23%;
    margin: 0 1% 20px;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
    box-shadow:0px 0px 0px 1px $border-day;
    background-color: $background-day;
    transition: $global-transition;
    h4 {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      a {
        color: $text-day;
      }
    }
    &:hover {
      box-shadow:0px 0px 0px 2px $border-day;
      background-color: $background-night;
      .a {
        color: $text-night;
      }
      .c-recent__date {
        color: $text-night;
      }
    }
  }
  .c-recent__footer {
    padding: 15px;
  }
  .c-recent__image {
    display: block;
    width: 100%;
    min-height: 180px;
    background-color: rgba(220,235,245,0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .c-recent__date {
    color: $text-day;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
  }
}

@media only screen and (max-width: $monitor-width) {
  .c-recent-post {
    .c-recent__item {
      max-width: 48%;
      flex-basis: 48%;
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .c-article {
    margin: 15px 0;
  }
}

@media only screen and (max-width: $phone-width) {
  .c-wrap-content {
    padding: 15px;
  }
  .c-article__header {
    margin-bottom: 5px;
    .c-article__title {
      font-size: 24px;
      margin-bottom: 5px;
    }
  }
  .c-recent-post {
    .c-recent__item {
      max-width: 100%;
      flex-basis: 100%;
      margin: 0 0 20px;
    }
  }
}