/* ===============
	BUTTONS
=============== */

.c-btn {
  display: inline-block;
  white-space: nowrap;
  // vertical-align: middle;
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  padding: 8px 15px;
  cursor: pointer;

  &--primary {
    color: $text-day;
    background-color: $background-day;
  }

  &--secondary {
    color: $text-day;
    background-color: $selected-day;
    background: $background-day;
  }

  &--middle {
    display: block;
    width: 300px;
    max-width: 100%;
  }

  &:hover {
    color: $text-night;
    background-color: $background-night;
  }

  &:active {
    font-size: 70%;
  }
}
