/* ===============
	CONTENT
=============== */

.c-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0 20px 0;
  margin-left: $sidebar-width;
}

@media only screen and (max-width: $tablet-width) {
  .c-content {
    position: static;
    padding: 0 15px 0;
    margin-left: 0;
  }
}