/* ===============
	CATEGORIES
=============== */

.c-form-box {
  position: absolute;
  top: 0;
  width: calc(100% - 40px);
  min-height: 100vh;
  padding: 0 20px;
  background-color: $background-day;
  z-index: 1;
}

.c-form-bnt__close {
  position: absolute;
  top: 0px;
  left: 0;
  width: 30px;
  height: 30px;
  box-shadow:0px 0px 0px 1px $border-day;
  cursor: pointer;
  transition: $global-transition;
  &:hover {
    transform: scale(.8);
    opacity: .8;
  }
}

.c-form {
  position: relative;
  width: 750px;
  max-width: 100%;
  margin: 40px auto;
  .c-form__title {
    margin: 0 0 40px;
    min-width: 0;
    border: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
  }
  a {
    color: $text-day;
  }
}

.c-form__group {
  margin-bottom: 20px;
  label {
    display: block;
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }
  input,
  textarea {
    width: 100%;
    padding: 10px 15px;
    color: $text-day;
    font-family: Roboto;
    font-weight: 700;
    border: none;
    box-shadow:0px 0px 0px 1px $border-day;
    outline: none;
    transition: $global-transition;
    background-color: $background-day;
    &:hover {
      box-shadow:0px 0px 0px 2px $border-day;
    }
    &:focus {
      color: $text-night;
      background-color: $background-night;
    }

  }
  button {
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    outline: none;
    border: none;
    box-shadow:0px 0px 0px 1px $border-day;
    &:hover {
      box-shadow:0px 0px 0px 2px $border-day;
    }
    &:active {
      color: $text-night;
      background-color: $background-night;
    }
  }
}

.c-thank-you {
  p {
    position: relative;
    padding: 20px 40px;
    width: 750px;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    margin: 40px auto 0;
    text-align: center;
    color: $text-day;
    background: linear-gradient(135deg, #55b5ad 0%,#5ec9c5 100%);
    .c-form-bnt__close {
      width: 25px;
      height: 25px;
      background: transparent;
    }
    a {
      color: $background-day;
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .c-form-box {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: $phone-width) {
  .c-form-bnt__close {
    width: 25px;
    height: 25px;
  }
}