/* ===============
	HEADER
=============== */

.c-header {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.c-header__box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .icon--ei-search {
    position: absolute;
    top: 7px;
    left: 15px;
    fill: $text-day;
  }
}

.c-search {
  width: 100%;
  .c-search__box {
    display: flex;
    align-items: center;
    &:hover {
      box-shadow:0px 0px 0px 2px $border-day;
    }
  }
  .c-search__text {
    position: relative;
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    box-shadow:0px 0px 0px 1px $border-day;
    background-color: $background-day;
    outline: none;
    color: $text-day;
    &:focus {
      color: $text-night;
      background-color: $background-night;
      .c-header__box {
        .icon--ei-search {
          fill: $text-night;
        }
      }
    }
  }
  .c-search-results-list {
    position: absolute;
    width: 100%;
    margin: 10px 0 0;
    border-radius: $global-radius;
    list-style-type: none;
    background-color: $background-day;
    z-index: 1;
    li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      padding: 20px 25px 0;
      background-color: $background-day;
      line-height: 1.4;
      border-left: solid 1px $border-day;
      border-right: solid 1px $border-day;
      &:first-child {
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;
        border-top: solid 1px $border-day;
      }
      &:last-child {
        border-bottom-left-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
        padding-bottom: 25px;
        border-bottom: solid 1px $border-day;
      }
      a {
        font-size: 16px;
      }
    }
  }
}

.c-nav {
  flex-grow: 1;
  padding-left: 20px;
  .c-nav__list {
    display: flex;
    justify-content: flex-end;
    .c-nav__item {
      display: flex;
      align-items: center;
      float: left;
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 700;
      font-family: Roboto;
      text-transform: uppercase;
      white-space: nowrap;
      box-shadow:0px 0px 0px 1px $border-day;

      cursor: pointer;
      &:hover {
        color: $text-night;
        background-color: $selected-day;
        transform: $global-transition;
      }
      &.is-active {
        color: $text-night;
        background-color: $selected-day;
      }
      &:first-child {
        border-radius: $global-radius 0 0 $global-radius;
      }
      &:last-child {
        border-radius: 0 $global-radius $global-radius 0;
      }
      .icon {
        width: 18px;
        height: 18px;
        margin-right: 3px;
      }
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .c-header {
    margin: 15px 0;
  }
}

@media only screen and (max-width: $phone-width) {
  .c-header {
    .c-header__box {
      flex-direction: column;
    }
    .c-search {
      width: 100%;
    }
    .c-nav {
      margin-top: 15px;
      .c-nav__list {
        justify-content: left;
      }
      // .c-nav__item {
      //   padding: 4px 8px;
      // }
    }
  }
}