/* ===============
	SIDEBAR
=============== */

.c-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  padding: 40px 20px 20px;
  text-align: center;
  box-shadow:1px 1px 0px 0px invert($border-day,80%);
  background-color: $background-day;
}

.c-sidebar-author {
  .c-author__cover {
    width: 128px;
    height: 128px;
    margin: 0 auto 10px;
    // overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      &:hover {
        transform: scale(1.01);
      }
    }
  }
  .c-menu {
    .c-btn {
      min-width: 110px;
      .icon {
        width: 18px;
        height: 18px;
        vertical-align: text-bottom;
        fill: $text-day;
      }
    }
  }
  .c-author__info {
    font-family: 'Roboto';
  }
  .c-author__first {
    color: $text-day;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
  }
  .c-author__last {
    color: $text-day;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
  }
  .c-author__job {
    font-size: 14px;
    font-weight: 400;
    // line-height: -10px;
  }
  .c-author__about {
    max-width: 400px;
    text-align: justify;
    margin: 0 auto 15px;
    font-size: 13px;
  }
  .c-menu {
    margin: 30px 0;
    .c-btn--secondary {
      margin-right: 10px;
    }
  }
}

.c-sidebar-footer {
  .c-social__title {
    position: relative;
    font-family: 'Roboto', serif;
    font-size: 15px;
    font-weight: 700;
    color: $darkest;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 40px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 0;
      background-color: $darkest;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 40px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 0;
      background-color: $darkest;
    }
  }
  .c-social__list {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
    .c-social__item {
      display: inline-block;
      width: 27px;
      height: 27px;
    }
    .icon {
      width: 27px;
      height: 27px;
      fill: $buttons-day;
      vertical-align: middle;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .c-copyright {
    p {
      font-size: 13px;
      margin: 0;
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  .c-sidebar {
    position: relative;
    width: 100%;
    padding: 20px;
    .c-menu {
      margin: 20px 0;
    }
  }
  .c-sidebar-footer {
    .c-social {
      .c-social__title {
        @include screen-reader();
      }
    }
    .c-social__list {
      margin: 0;
    }
    .c-copyright {
      @include screen-reader();
    }
  }
}

@media only screen and (max-width: $phone-width) {
  .c-sidebar-author {
    .c-author__cover {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .c-menu {
      margin: 15px 0;
      .c-btn {
        min-width: 80px;
        font-size: 10px;
        padding: 4px 15px;
        margin-right: 5px;
        .icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  .c-sidebar-footer {
    .c-social {
      .c-social__title {
        @include screen-reader();
      }
    }
    .c-social__list {
      margin: 0;
      .icon {
        width: 25px;
        height: 25px;
      }
    }
    .c-copyright {
      @include screen-reader();
    }
  }
}